/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVAsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  border: 0px blue dashed;
  -webkit-user-select: none; /* Prevents highlighting on double-click */
  -moz-user-select: none; /* Prevents highlighting on double-click */
  -ms-user-select: none; /* Prevents highlighting on double-click */
  user-select: none; /* Prevents highlighting on double-click */
}

body {
  background-color: #EEEEEE;
  font-family: "Poiret One";
  margin-top: 0%;
  overflow: auto; /* Prevents horizontal scrollbar from appearing */
}

section {
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
}

section:nth-of-type(1) {
  padding-top: 0.4%;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

section:nth-of-type(2) {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

section:nth-of-type(3) {
padding-bottom: 2.5%;
border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

#computerWrapper {
  width: 65%;
  margin: auto;
  /*display: table;*/
}

#computerHand {
  white-space: nowrap; /* Prevents cards from breaking to new line */
}

#discardWrapper {
  margin: auto;
  width: 65%;
  display: table;
}

#discardWrapper h1 {
  text-align: center;
}

#playerWrapper {
  width: 65%;
  margin: auto;
  display: table;
}

/* Cards */

.card {
  width: 12.8%;
  margin: 0.74% 0.74%;
  border-radius: 0.3em;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  position: relative;
  /*border-left: 1px solid #FFFFFF;*/
  white-space: normal;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  /*transition: bottom 0.25s, top 0.25s, left 0.25s, opacity 0.50s, -webkit-transform 0.25s;*/
  -webkit-transition: -webkit-transform 0.30s ease-in-out, bottom 0.30s, left 0.30s, opacity 0.30s;
  -moz-transition: -moz-transform 0.30s ease-in-out, bottom 0.30s, left 0.30s, opacity 0.30s;
  transition: -ms-transform 0.30s ease-in-out, bottom 0.30s, left 0.30s, opacity 0.30s;
  transition: transform 0.30s ease-in-out, bottom 0.30s, left 0.30s, opacity 0.30s;
}

.animated {
  opacity: .5;
}

#discardPile .card {
  margin-left: 43.58%;
}
/*
#discardWrapper h1 {
  margin-left: 43.58%;
}
*/
.card:before { /* Sets card height relative to width */
  content: "";
  display: block;
  padding-top: 148%;
}

.Blue {
background: rgba(0,176,255,1);
background: -moz-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,176,255,1)), color-stop(100%, rgba(0,166,242,1)));
background: -webkit-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -o-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -ms-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: linear-gradient(to bottom, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0ff', endColorstr='#00a6f2', GradientType=0 );*/
}

.Green {
	color: #000000;
background: rgba(0,230,118,1);
background: -moz-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,230,118,1)), color-stop(100%, rgba(0,217,112,1)));
background: -webkit-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -o-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -ms-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: linear-gradient(to bottom, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e676', endColorstr='#00d970', GradientType=0 );*/
}

.Red {
background: rgba(255,23,68,1);
background: -moz-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,23,68,1)), color-stop(100%, rgba(242,22,66,1)));
background: -webkit-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1744', endColorstr='#f21642', GradientType=0 );*/
}

.Yellow {
	color: #000000;
background: rgba(255,234,0,1);
background: -moz-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,234,0,1)), color-stop(100%, rgba(242,222,0,1)));
background: -webkit-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#f2de00', GradientType=0 );*/
}

.Wild {
background: rgba(64,64,64,1);
background: -moz-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,64,64,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#000000', GradientType=0 );*/
}

/* Text */

h1 {
  font-size: 50%;
  font-weight: normal;
  margin: 1% 0.8% 0.1% 0.8%;
}

#playerWrapper h1 {
  float: left;
  display: inline-block;
}

button {
  float: right;
  margin-top: 1%;
  margin-right: 0.8%;

}

.cardText {
  pointer-events: none; /* Prevents cursor from changing to caret over text */
  position: absolute;
  margin-top: 22%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#computerHand .cardText {
  color: #FFFFFF;
}

.hidden {
  display: none;
}

#playerHand {
  clear: both;
  white-space: nowrap; /* Prevents cards from breaking to new line */
}

#computerHand .card {
background: rgba(64,64,64,1);
background: -moz-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,64,64,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#000000', GradientType=0 );*/
/*border-left: 1px solid #4d4d4d;*/
box-shadow: -1px -1px 0 #595959;
}