@font-face {
    font-family: FARRAY;
    src: url(./fonts/FARRAY.otf);
}

* {
  border: 0px blue dashed;
  -webkit-user-select: none; /* Prevents highlighting on double-click */
  -moz-user-select: none; /* Prevents highlighting on double-click */
  -ms-user-select: none; /* Prevents highlighting on double-click */
  user-select: none; /* Prevents highlighting on double-click */
}

body {
  background-color: #EEEEEE;
  font-family: "FARRAY";
  margin-top: 0%;
}

#contain {
    overflow-x: hidden; /* Prevents horizontal scrollbar from appearing */
}
/*
section {
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
}
*/
/*
section:nth-of-type(1) {
  padding-top: 0.4%;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
}

section:nth-of-type(2) {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
}*/
/*
section:nth-of-type(3) {
  background-color: #FFFFFF;
padding-bottom: 2.5%;
border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
*/
#computerWrapper {
  width: 65%;
  margin: auto;
  display: table;
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  position: relative;
}

#computerHand {
  white-space: nowrap; /* Prevents cards from breaking to new line */
  border-radius: 0.3em;
}

#discardWrapper {
  margin: auto;
  width: 65%;
  display: table;
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  position: relative;
  padding-top: 2.1%;
}

#playerWrapper {
  width: 70%;
  margin: auto;
  display: table;
    background-color: #FFFFFF;
padding-bottom: 2.5%;
border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding-right: 5%;
  position: relative;
}

img {
  max-width: 100%;
    height: auto;
    display: block;
}

#playerHead {
  width: 65%;
  margin: auto;
  display: table;
    background-color: #FFFFFF;
border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  font-size: 50%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Josefin Sans";
  color: #005780;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
}

#playerHead div { /* Puts "Player" on a transparent background so text will foreground cards */
  background-color: #FFFFFF;
  position: relative;
  width: 8.5%;
  padding-left: .5%;
}
/* Cards */
/*
#discardHead {
  width: 65%;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  display: table;
  font-family: "Josefin Sans";
  color: #597380;
  background-color: #FFFFFF;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  text-align: center;
}
*/
#computerHead {
  margin: auto;
  display: table;
  font-size: 50%;
  font-family: "Josefin Sans";
  color: #005780;
  background-color: #FFFFFF;
  padding: 0%;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  padding-top: 0.9%;
  padding-bottom: 0.6%;
   width: 65%;
  padding-left: 5%;
  padding-right: 5%;
}

#computerHead div {
  position: relative;
  width: 6%;
  padding-left: 1.5%;
}

.card {
  width: 12.8%;
  margin-left: 0.74%;
  margin-right: 0.74%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: inherit;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  position: relative;
  white-space: normal; /* Cause card text to wrap */
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -webkit-transition: bottom 0.10s ease-in-out;
  -moz-transition: bottom 0.10s ease-in-out;
  transition: bottom 0.10s ease-in-out;
  bottom: 0px;
}

.animated {
  -webkit-transition: -webkit-transform 0.30s ease-in-out;
  -moz-transition: -moz-transform 0.30s ease-in-out;
  transition: -ms-transform 0.30s ease-in-out;
  transition: transform 0.30s ease-in-out;
  opacity: .5;
}

#discardPile .card {
  margin-left: 43.58%;
  border-radius: inherit;
}

#discardPile {
border-radius: 0.3em;
}
/*
#discardWrapper h1 {
  margin-left: 43.58%;
}
*/
.card:before { /* Sets card height relative to width */
  content: "";
  display: block;
  padding-top: 148%;
}

.placeholder {
  width: 12.8%;
  margin-left: 0.74%;
  margin-right: 0.74%;
  display: inline-block;
}

.placeholder:before { /* Sets card height relative to width */
  content: "";
  display: block;
  padding-top: 148%;
}

.Blue {
background: rgba(0,176,255,1);
background: -moz-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,176,255,1)), color-stop(100%, rgba(0,166,242,1)));
background: -webkit-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -o-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -ms-linear-gradient(top, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: linear-gradient(to bottom, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0ff', endColorstr='#00a6f2', GradientType=0 );*/
}

.Green {
	color: #000000;
background: rgba(0,230,118,1);
background: -moz-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,230,118,1)), color-stop(100%, rgba(0,217,112,1)));
background: -webkit-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -o-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -ms-linear-gradient(top, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: linear-gradient(to bottom, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e676', endColorstr='#00d970', GradientType=0 );*/
}

.Red {
background: rgba(255,23,68,1);
background: -moz-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,23,68,1)), color-stop(100%, rgba(242,22,66,1)));
background: -webkit-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -o-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -ms-linear-gradient(top, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: linear-gradient(to bottom, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1744', endColorstr='#f21642', GradientType=0 );*/
}

.Yellow {
	color: #000000;
background: rgba(255,234,0,1);
background: -moz-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,234,0,1)), color-stop(100%, rgba(242,222,0,1)));
background: -webkit-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#f2de00', GradientType=0 );*/
}

.Wild {
background: rgba(64,64,64,1);
background: -moz-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,64,64,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), -1px -1px 0 #595959;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), -1px -1px 0 #595959;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), -1px -1px 0 #595959;
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#000000', GradientType=0 );*/
}

/* Text */

h1 {
  font-size: 45%;
  font-weight: normal;
  font-family: "Josefin Sans";
  margin: 1% 0.8% 0.1% 0.8%;
  color: #597380;
}

#playerWrapper h1 {
  float: left;
  display: inline-block;
}
/*
button {
  float: right;
  margin-top: 1%;
  margin-right: 0.8%;
}
*/
.cardText {
  pointer-events: none; /* Prevents cursor from changing to caret over text */
  position: absolute;
  margin-top: 27%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.70;
  font-size: 85%;
}

#computerHand .cardText {
  color: #FFFFFF;
}

#playerHand {
  width: 65%;
  white-space: nowrap; /* Prevents cards from breaking to new line */
  display: table-cell;
  border-radius: 0.3em;
}

#sidebar {
width: 5%;
  display: table-cell;
  vertical-align: top;
  position: relative;
  padding-top: 3.5%;

}

#computerHand .card {
background: rgba(64,64,64,1);
background: -moz-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,64,64,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#000000', GradientType=0 );*/
/*border-left: 1px solid #597380;*/
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), -1px -1px 0 #595959;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), -1px -1px 0 #595959;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), -1px -1px 0 #595959;
}

#sidebar button {
  position: relative;
  font-size: 45%;
  font-family: "Josefin Sans";
  width: 63%;
  text-align: center;
  padding: 8%;
  text-decoration: none;
  margin-left: 23%;
  /*border:2px solid #007ab3;*/
  color: #597380;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,87,128,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,87,128,.4);
  box-shadow: 0 1px 2px rgba(0,87,128,.4);
  /*webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;*/
  /*background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
  background-color:#ededed;
  color: #757575;
  text-shadow:1px 1px 0px #ffffff;
  -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #ffffff;*/
}

#sidebar button:hover {
  background-color: #005780;
  color: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,17,26,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,17,26,.4);
  box-shadow: 0 1px 2px rgba(0,17,26,.4);
  /*background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
  background-color:#dfdfdf;*/
}
#sidebar button:active {
  position:relative;
  top:2px;
  }

#sidebar button:focus {outline:0;} /* Disables highlighting on focus */

#wildMenu {
  font-size: 45%;
  font-family: "Josefin Sans";
  /*padding-top: 1.7%;
  padding-bottom: 1.7%;*/
  padding-left: 2.4%;
  z-index: 2;
  width: 25%;
  height: 19%;
  top: 40%;
  left: 58%;
  position: absolute;
  display: inline-block;
  color: #FFFFFF;
  background-color: #005780;
  /*-webkit-box-shadow: 0 1px 2px rgba(0,87,128,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,87,128,.4);
  box-shadow: 0 1px 2px rgba(0,87,128,.4);*/
  /*webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;*/
}

#wildMenu p {
display: inline-block;
vertical-align: top;
position: relative;

}

#intro1 {
    font-size: 45%;
  font-family: "Josefin Sans";
  /*padding-top: 1.7%;
  padding-bottom: 1.7%;*/
  padding-left: 2.4%;
  z-index: 2;
  width: 12.5%;
  height: 18%;
  top: 8%;
  left: 10.5%;
  position: absolute;
  display: inline-block;
  color: #FFFFFF;
  background-color: #005780;
  webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
  /*visibility: hidden;*/
}

#intro1.hidden {
  opacity: 0;
  visibility: hidden;
}

#intro1 p {
position: relative;
bottom: 6%;
}

#intro1 div{
    top:-21%;
    left: 0%;
    width: 8.46%;
    padding-bottom:6%;
    position:absolute;
    overflow:hidden;
}

#intro1 div:before{
    content:'';
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-color : #005780;
-webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#intro2 {
  line-height: 135%;
    font-size: 45%;
  font-family: "Josefin Sans";
  /*padding-top: 1.7%;
  padding-bottom: 1.7%;*/
  padding-left: 2.4%;
  z-index: 2;
  width: 19.5%;
  height: 28.5%;
  top: 32.5%;
  left: 20.3%;
  position: absolute;
  display: inline-block;
  color: #FFFFFF;
  background-color: #005780;
  webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
  /*visibility: hidden;*/
}

#intro2.hidden {
  opacity: 0;
  visibility: hidden;
}

#intro2 p {
position: relative;
bottom: 6%;
}

#intro2 div{
    top: 0%;
    left: 99.9%;
    width: 5.358%;
    padding-bottom:3.8%;
    position:absolute;
    overflow:hidden;
}

#intro2 div:before{
    content:'';
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-color : #005780;
-webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    transform-origin: rleft left bottom;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


#intro3 {
    font-size: 45%;
  font-family: "Josefin Sans";
  /*padding-top: 1.7%;
  padding-bottom: 1.7%;*/
  padding-left: 2.4%;
  line-height: 135%;
  z-index: 2;
  width: 24.9%;
  height: 28.5%;
  top: 67%;
  left: 10.5%;
  position: absolute;
  display: inline-block;
  color: #FFFFFF;
  background-color: #005780;
  webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
}

#intro3 p {
display: inline-block;
vertical-align: top;
position: relative;
bottom: 6%;
}

#intro3 div{
    top: 100%;
    left: 0%;
    width: 4.935%;
    padding-bottom:3.5%;
    position:absolute;
    overflow:hidden;
}

#intro3 div:before{
    content:'';
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-color : #005780;
-webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    transform-origin: rleft left bottom;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#intro3.hidden {
  opacity: 0;
  visibility: hidden;
}

/*
#tr2 {
  width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 0;
border-color: transparent #007bff transparent transparent;
position: relative;
}
*/
/*
#tr2 {
    top: 39%;
    left: 57.2%;
    width: 1%;
    height: 0;
    padding-left:1%;
    padding-top: 1%;
    overflow: hidden;
    position: absolute;
}
#tr2:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-13px;
    margin-top:-13px;

    border-left: 13px solid transparent;
    border-right: 0px solid transparent;
    border-top: 13px solid #4679BD;
}
*/
#wildMenu p {
display: inline-block;
vertical-align: top;
position: relative;
bottom: 4%;
}

#wildMenu button:focus {outline:0;} /* Disables highlighting on focus */


.triangle{
    top: 0%;
    left: -4.2%;
    width:4.23%;
    padding-bottom:3%;
    position:absolute;
    overflow:hidden;
}

.triangle:before{
    content:'';
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-color : #005780;
-webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#wildMenu #Red {
  width:10.5%;
  opacity: 0.5;
  height: 67%;
  position: relative;
  
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  margin-left: 3.3%;
  margin-top: 2.4%;
  display: inline;
  color: #000000;
background: rgba(255,23,68,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,23,68,1)), color-stop(100%, rgba(242,22,66,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,23,68,1) 0%, rgba(242,22,66,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1744', endColorstr='#f21642', GradientType=1 );*/
}

#wildMenu #Red:hover {
  opacity: 1;
  webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#wildMenu #Green {
  width:10.5%;
  opacity: 0.5;
  height: 67%;
  position: relative;
  
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  margin-left: 3.3%;
  margin-top: 1%;
  display: inline;
  color: #000000;
background: rgba(0,230,118,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,230,118,1)), color-stop(100%, rgba(0,217,112,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
background: radial-gradient(ellipse at center, rgba(0,230,118,1) 0%, rgba(0,217,112,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e676', endColorstr='#00d970', GradientType=1 );*/
}

#wildMenu #Green:hover {
  opacity: 1;
  webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#wildMenu #Blue {
  width:10.5%;
  opacity: 0.5;
  height: 67%;
  position: relative;
  
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  margin-left: 3.3%;
  margin-top: 1%;
  display: inline-block;
  color: #000000;
background: rgba(0,176,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,176,255,1)), color-stop(100%, rgba(0,166,242,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
background: radial-gradient(ellipse at center, rgba(0,176,255,1) 0%, rgba(0,166,242,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0ff', endColorstr='#00a6f2', GradientType=1 );*/
}

#wildMenu #Blue:hover {
  opacity: 1;
  webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#wildMenu #Yellow {
  width:10.5%;
  opacity: 0.5;
  height: 67%;
  position: relative;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  margin-left: 3.3%;
  margin-top: 1%;
  display: inline-block;
  color: #000000;
background: rgba(255,234,0,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,234,0,1)), color-stop(100%, rgba(242,222,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,234,0,1) 0%, rgba(242,222,0,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#f2de00', GradientType=1 );*/
}

#wildMenu #Yellow:hover {
  opacity: 1;
  webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#wildMenu {
 webkit-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  opacity: 1;
  visibility: visible;
}

#wildMenu.hidden {
  opacity: 0;
  visibility: hidden;
}

#overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  width:100%;
  height:100%;
  z-index: 1000;
 webkit-transition: background 0.2s linear, visibility 0.2s linear;
  -moz-transition: background 0.2s linear, visibility 0.2s linear;
  -ms-transition: background 0.2s linear, visibility 0.2s linear;
  transition: background 0.2s linear, visibility 0.2s linear;
  
  visibility: visible;
  background: rgba(0,0,0,.5);
}

#overlay.hidden {
  position: absolute;
  left: 0%;
  top: 0%;
  width:100%;
  height:100%;
  z-index: 1000;
  
  visibility: hidden;
  background: rgba(0,0,0,0);
}

#gameOver {
  opacity: .90;
     width: 20%;
     background-color: #fff;
     text-align:center;
     font-family: "Josefin Sans";
     font-size: 45%;
     top: 15%;
     position: absolute;
     left: 40%;
     height: 50%;
     z-index: 1001;
     padding-top: 2%;
}

#gameOver.hidden {
  visibility: hidden;
}

.shake {
  animation: shake .5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}